<app-header></app-header>
<div class="page-login">
  <div class="d-flex justify-content-between align-items-center">
    <div class="container my-4">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h3>Registro</h3>
            </div>
            <div class="card-body">
              <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                  <div class="row mb-3">
                    <label for="id" class="col-sm-3 col-form-label">Identificación</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="id" formControlName="id">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="firstName" class="col-sm-3 col-form-label">Nombres</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="firstName" formControlName="firstName">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="lastName" class="col-sm-3 col-form-label">Apellidos</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="username" class="col-sm-3 col-form-label">Nombre de usuario</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="username" formControlName="username">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label">Correo Electronico</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="validationServerUsernameFeedback">
                      <!-- <div id="validationServerUsernameFeedback" class="invalid-feedback">
                        Correo no valido.
                      </div> -->
                    </div>
                  </div>

                  <p>valid: {{ registerForm }}</p>

                  <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Registrar</button>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
